@import "./fonts.css";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 * {
	/* border: 1px solid black; */
 }

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

:root {
	--yellow-color: #ffcc00;
}

body {
	height: 100vh;
	font-family: 'Raleway', sans-serif;
}

.container {
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.header {
	/* height: 60px; */
	border-bottom: 5px solid var(--yellow-color);
	background-color: #000;
}

.header-nav-list {
	display: flex;
}

.header-nav-item {
	
}

.header-nav-link {
	display: inline-block;
	padding: 20px 30px;
	font-size: 18px;
	/* font-weight: bold; */
	color: #fff;
}

.main {
	flex-grow: 1;
}

.footer {
	height: 60px;
}

